
@model List<RazorBasics.Components.SurveyProduct>

<div class="panel panel-warning widget">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-comment fa-3x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <h3>Coolest Product</h3>
            </div>
        </div>
    </div>
    <div class="widget-display">
        <table class="table table-fluid table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Add vote</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.VoteCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>